<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	
		<article class="module width_full">
	<form action="{:U('group')}" method="post" class="form-horizontal">
	<div class="data-table table-striped">
		<table>

			<tbody>
				<tr>
					<td>平台名称</td>
					<td><input type="text" value="<?=$settings['webName']?>" name="webName"/></td>
				</tr>
				<tr>
					<td>网站开关</td>
					<td>
						<label><input type="radio" value="1" name="switchWeb" <?=$this->iff($settings['switchWeb'],'checked="checked"')?>/>开启</label>
						<label><input type="radio" value="0" name="switchWeb" <?=$this->iff(!$settings['switchWeb'],'checked="checked"')?>/>关闭</label>
					</td>
				</tr>
			
				<!--<tr>
					<td>关闭网站公告</td>
					<td>
						<textarea name="webCloseServiceResult" cols="56" rows="2"><?=$settings['webCloseServiceResult']?></textarea>
					</td>
				</tr>-->
				<tr>
					<td>投注开关</td>
					<td>
						<label><input type="radio" value="1" name="switchBuy" <?=$this->iff($settings['switchBuy'],'checked="checked"')?>/>开启</label>
						<label><input type="radio" value="0" name="switchBuy" <?=$this->iff(!$settings['switchBuy'],'checked="checked"')?>/>关闭</label>
					</td>
				</tr>
				<tr>
					<td>投注模式</td>
					<td>
						<label><input type="radio" value="1" name="yuan_mode" <?=$this->iff($settings['yuan_mode'],'checked="checked"')?>/>元开启</label>
						<label><input type="radio" value="0" name="yuan_mode" <?=$this->iff(!$settings['yuan_mode'],'checked="checked"')?>/>元关闭</label>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<label><input type="radio" value="1" name="jiao_mode" <?=$this->iff($settings['jiao_mode'],'checked="checked"')?>/>角开启</label>
						<label><input type="radio" value="0" name="jiao_mode" <?=$this->iff(!$settings['jiao_mode'],'checked="checked"')?>/>角关闭</label>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<label><input type="radio" value="1" name="fen_mode" <?=$this->iff($settings['fen_mode'],'checked="checked"')?>/>分开启</label>
						<label><input type="radio" value="0" name="fen_mode" <?=$this->iff(!$settings['fen_mode'],'checked="checked"')?>/>分关闭</label>
						&nbsp;&nbsp;&nbsp;&nbsp;
						
						
						
					</td>
				</tr>
				<tr>
					<td>代理投注开关</td>
					<td>
						<label><input type="radio" value="1" name="switchDLBuy" <?=$this->iff($settings['switchDLBuy'],'checked="checked"')?>/>开启</label>
						<label><input type="radio" value="0" name="switchDLBuy" <?=$this->iff(!$settings['switchDLBuy'],'checked="checked"')?>/>关闭</label>
					</td>
				</tr>
				<tr>
					<td>最大返点限制</td>
					<td>
						  元模式：<input type="text" class="textWid1" value="<?=$settings['betModeMaxFanDian0']?>" name="betModeMaxFanDian0"/>%
						　角模式：<input type="text" class="textWid1" value="<?=$settings['betModeMaxFanDian1']?>" name="betModeMaxFanDian1"/>%
						　分模式：<input type="text" class="textWid1" value="<?=$settings['betModeMaxFanDian2']?>" name="betModeMaxFanDian2"/>%
					</td>
				</tr>
				<tr>
					<td>最大投注限制</td>
					<td>
						  最大注数：<input type="text" class="textWid1" value="<?=$settings['betMaxCount']?>" name="betMaxCount"/>注
						　最大中奖：<input type="text" class="textWid1" value="<?=$settings['betMaxZjAmount']?>" name="betMaxZjAmount"/>元
					</td>
				</tr>
			   
				<tr>
					<td>充值限制</td>
					<td>
						最低金额：<input type="text" class="textWid1" value="<?=$settings['rechargeMin']?>" name="rechargeMin"/>元&nbsp;&nbsp; 
						最高金额：<input type="text" class="textWid1" value="<?=$settings['rechargeMax']?>" name="rechargeMax"/>元
						<br /><br />
						支付宝/财付通：最低金额 <input type="text" class="textWid1" value="<?=$settings['rechargeMin1']?>" name="rechargeMin1"/>元&nbsp;&nbsp;最高金额 <input type="text" class="textWid1" value="<?=$settings['rechargeMax1']?>" name="rechargeMax1"/>元&nbsp;&nbsp;
						
					</td>
				</tr>
				<tr>
					<td>提现限制</td>
					<td>
						消费满：<input type="text" class="textWid1" value="<?=$settings['cashMinAmount']?>" name="cashMinAmount"/>%&nbsp;&nbsp;
						最低金额：<input type="text" class="textWid1" value="<?=$settings['cashMin']?>" name="cashMin"/>元&nbsp;&nbsp;
						最高金额：<input type="text" class="textWid1" value="<?=$settings['cashMax']?>" name="cashMax"/>元&nbsp;&nbsp;
						时间段： 从 <input type="time" value="<?=$settings['cashFromTime']?>" name="cashFromTime" class="textWid1"/> 到 <input type="time" value="<?=$settings['cashToTime']?>" name="cashToTime" class="textWid1"/>
						<br /><br />
						支付宝/财付通：最低金额 <input type="text" class="textWid1" value="<?=$settings['cashMin1']?>" name="cashMin1"/>元&nbsp;&nbsp;
						最高金额 <input type="text" class="textWid1" value="<?=$settings['cashMax1']?>" name="cashMax1"/>元&nbsp;&nbsp;
						提现次数 <input type="text" class="textWid1" value="<?=$settings['cashTimes']?>" name="cashTimes"/>次&nbsp;&nbsp;
					</td>
				</tr>
				<tr>
					<td>清理账号规则</td>
					<td>账户金额低于&nbsp;<input type="text" value="<?=$settings['clearMemberCoin']?>" name="clearMemberCoin" id="clearMemberCoin"/>元，&nbsp;且&nbsp;<input type="text" value="<?=$settings['clearMemberDate']?>" name="clearMemberDate" id="clearMemberDate"/> &nbsp;天未登录&nbsp;&nbsp;<a method="post" target="ajax" title="数据清除不可修复，是否继续！" dataType="json" id="alt_btn3" href="{:U('config/clearUser')}">清理</a></td>
				</tr>
				<tr>
					<td>清理数据</td>
					<td>清除当前 <input type="date" name="date" class="time" value="" placeholder="请选择时间" />日期及以前数据&nbsp;&nbsp;<a method="post" target="ajax" title="数据清除不可修复，是否继续！" id="alt_btn3" href="{:U('config/clearData')}">清理</a></td>
				</tr>
				<tr>
					<td>赠送活动</td>
					<td>首次注册绑定银行卡送<input class="textWid1" type="text" value="<?=$settings['huoDongRegister']?>" name="huoDongRegister"/>元 &nbsp;&nbsp;每天签到每次送<input type="text" class="textWid1" value="<?=$settings['huoDongSign']?>" name="huoDongSign"/>元，如果为0则关闭活动</td>
				</tr>
				<tr>
					<td>充值佣金活动</td>
					<td>每天首次充值金额<input class="textWid1" type="text" value="<?=$settings['rechargeCommissionAmount']?>" name="rechargeCommissionAmount"/>元以上，上家送<input type="text" class="textWid1" value="<?=$settings['rechargeCommission']?>" name="rechargeCommission"/>元佣金，上上家送<input class="textWid1" type="text" value="<?=$settings['rechargeCommission2']?>" name="rechargeCommission2"/>元佣金，如果为0则关闭活动</td>
				</tr>
				<tr>
					<td>消费佣金活动</td>
					<td>
					<p>每天消费达<input class="textWid1" type="text" value="<?=$settings['conCommissionBase']?>" name="conCommissionBase"/>元时，上家送<input  class="textWid1"type="text" value="<?=$settings['conCommissionParentAmount']?>" name="conCommissionParentAmount"/>元佣金，上上家送<input  class="textWid1"type="text" value="<?=$settings['conCommissionParentAmount2']?>" name="conCommissionParentAmount2"/>元佣金，如果为0则关闭活动</p>
					</p></td>
				</tr>
				<tr>
					<td>返点最大值</td>
					<td><input type="text" value="<?=$settings['fanDianMax']?>" name="fanDianMax"/>% &nbsp;&nbsp;不定位返点最大值<input type="text" value="<?=$settings['fanDianBdwMax']?>" name="fanDianBdwMax"/>%</td>
				</tr>
				<tr>
					<td>上下级返点最小差值</td>
					<td><input type="text" value="<?=$settings['fanDianDiff']?>" name="fanDianDiff"/>%</td>
				</tr>
				<tr>
					<td>最低限制人数返点</td>
					<td><input type="text" value="<?=$settings['minFanDianUserCount']?>" name="minFanDianUserCount"/>%</td>
				</tr>
				<!--<tr>
					<td>积分比例</td>
					<td>
						<input type="text" value="<?=$settings['scoreProp']?>" name="scoreProp"/> 每消费1元积的分数
					</td>
				</tr>
				<tr>
					<td>积分规则</td>
					<td>
						<textarea name="scoreRule" cols="56" rows="5"><?=$settings['scoreRule']?></textarea>
					</td>
				</tr>-->
				<tr>
					<td>客服状态</td>
					<td>
						<label><input type="radio" value="1" name="kefuStatus" <?=$this->iff($settings['kefuStatus'],'checked="checked"')?>/>开启</label>
						<label><input type="radio" value="0" name="kefuStatus" <?=$this->iff(!$settings['kefuStatus'],'checked="checked"')?>/>关闭</label>

					</td>
				</tr>
				<tr>
					<td>客服链接</td>
					<td>
						<textarea name="kefuGG" cols="56" rows="1"><?=$settings['kefuGG']?></textarea>
					</td>
				</tr>
				
				<tr>
					<td>五/二分彩盈亏率</td>
					<td>
						<input type="text" value="<?=$settings['wufencai']?>" name="wufencai"/> 
					</td>
				</tr>
				<tr>
					<td>消费活动时间</td>
					<td>
						从<input type="text" value="<?=$settings['activity_first_time']?>" name="activity_first_time"/> 
						到<input type="text" value="<?=$settings['activity_end_time']?>" name="activity_end_time"/> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer>
		<div class="form-item">
			<label class="item-label"></label>
			<div class="controls">
				<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>				
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</div>
	</footer>
	</form>
</article>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script>
$(function(){
	$('.time').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
</script>
</block>
