<extend name="Base/common"/>

<block name="title"><title>帐变明细－{:S('WEB_NAME')}</title></block>
<block name="body">
<div class="effect mainnav-lg mainnav-fixed navbar-fixed footer-fixed" id="container">
	<div id="page-content">
		<form id="teambetrecord" role="form" action="{:U('team/searchRecord')}" method="post">
			<div class="panel">
				<div class="panel-heading">
					
					<h3 class="panel-title text-primary"><i class="fa fa-cubes fa-lg text-default"></i> 代  理  中  心 》 帐 变 明 细</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-2">
						<div class="dataTables_length" style="margin-top: -10px;">
							<h5>每页显示
							<select name="PageSize" class="form-control" id="PageSize" data-val-required="PageSize 字段是必需的。" data-val="true">
								<option selected="selected" value="10">10</option>
							</select>
							 条
							</h5>
						</div>
					</div>
					<div class="col-sm-10">
						<div class="dataTables_filter">
							<select autocomplete="off" name="type" class="form-control" id="LotteryId" style="width: 130px; display: inline;" data-val-required="LotteryId 字段是必需的。" data-val="true">
								<option selected="selected" value="0">请选择类型</option>
								<option value="1">账户充值</option>
								<option value="7">撤单返款</option>
								<option value="106">账户提现</option>
								<option value="8">提现失败</option>
								<option value="107">提现成功</option>
								<option value="9">系统充值</option>
								<option value="51">活动礼金</option>
								<option value="52">充值佣金</option>
								<option value="53">消费活动</option>
								<option value="101">投注扣款</option>
								<option value="6">中奖奖金</option>
								<option value="2">游戏返点</option>
								<option value="102">追号扣款</option>
								<option value="12">下级转账</option>
							</select>
							<select autocomplete="off" name="utype" class="form-control" id="TeamLevel" style="width: 130px; display: inline;" data-val-required="TeamLevel 字段是必需的。" data-val="true">
								<option selected="selected" value="0">所有人</option>
								<option value="1">自己</option>
								<option value="2">直属下级</option>
								<option value="3">所有下级</option>
							</select>
							<input autocomplete="off" name="username" class="form-control" id="MemberName" style="width: 100px;" type="text" placeholder="会员名" value="">							
							<input autocomplete="off" name="fromTime" autocomplete="off" class="form-control form_datetime" id="BeginDate" style="width: 130px;" type="text" placeholder="起始日期" value="{:date('Y-m-d H:i',$GLOBALS['fromTime'])}" data-date-format="yyyy-mm-dd hh:ii">
							<span style="margin-left: 5px;">-</span>
							<input name="toTime" autocomplete="off" class="form-control form_datetime" id="EndDate" style="width: 130px;" type="text" placeholder="截止日期" value="{:date('Y-m-d H:i',$GLOBALS['toTime'])}" data-date-format="yyyy-mm-dd hh:ii">
							<button class="btn btn-primary btn-labeled fa fa-search" id="j-query" type="button">查询</button>
						</div>
					</div>
					<span id="record-span">
						<include file="coin-list" />
					</span>
				</div>
			</div>
			<input name="__RequestVerificationToken" type="hidden" value="CfDJ8Ktgxm2FAlNEsoI7VoMQlWk-r1WEVUMma9pxU878QzneW2KIrTfgUbuPj__QCtkNRRZvXW6vyGMINg6RucmHxen7pqyeFXfPOriSNInvCqqC13KtPZ_vKB1TImP03Q98KRUIkr3KghHY6GCGBNtfqlS9d9_JZXmL67XbkOB6FJORYTEoyRwdIbKmaIc06OW0qw">
		</form>
		<div tabindex="-1" class="modal fade" id="details-modal" role="dialog" aria-hidden="true" aria-labelledby="details-modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
						<h4 class="modal-title text-primary"><i class="fa fa-th-list fa-lg"></i>  详 情                 
						</h4>
					</div>
					<div id="betDetail">
					</div>
					<div class="modal-footer">
						<button class="btn btn-warning btn-labeled fa fa-mail-reply" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
<block name="script">
<script src="__JS__/dataTables.min.js"></script>
<script src="__JS__/dataTables.bootstrap.min.js"></script>
<script src="__JS__/dataTables.responsive.min.js"></script>
<script src="__JS__/bootbox.min.js"></script>
<script type="text/javascript">

$(document).ready(function () {
	$("#j-query").on("click", function () {				
		$.ajax({
			type: "GET",
			url: '{:U("team/searchCoin")}',
			data: { liqType: $('#LotteryId').val(), utype: $('#TeamLevel').val(), username: $('#MemberName').val(), fromTime: $('#BeginDate').val(), toTime: $('#EndDate').val()},
			dataType: "html",
			global: false,
			success: function (result) {
				$('#record-span').html(result);
			}, error: function (err) {
				var t=err;				
			}
		});
		//$("#teambetrecord").submit();
	});
	
	$('#PageSize').on('change', function () {
		this.form.submit();
	});
	$('.paging_button').on('click', function () {
		var pageIndex = $(this).attr('title');
		$('#PageIndex').val(pageIndex);
		this.ownerDocument.forms[0].submit();
	});
	
});

</script>
</block>