.ico-query {
	display:inline-block;
	width:19px;
	height:19px;
	background:url(../img/mix-icon.png) -460px 0 no-repeat;
}
.m-query {
	padding-top:39px;
}
.m-query .g-body-hd {
	position:relative;
}
.w-query {
	height:30px;
	padding:10px;
	text-align:center;
}
.w-query .w-form {
	height:30px;
}
.w-query .w-input {
	position:relative;
}
.w-query .w-input-input {
	width:220px;
	padding:6px 6px 6px 30px;
}
.w-query .w-input-placeholder {
	padding:6px 4px 4px 30px;
	font-size:12px;
}
.w-query .w-input-ico {
	position:absolute;
	top:5px;
	left:5px;
}
.w-query .w-query-button {
	padding:0 0 0 5px;
	font-size:14px;
	color:#505050;
	background:none;
}
.m-query h2 {
	padding-left:19px;
	font-size:14px;
	line-height:37px;
	color:#505050;
	background-color:#ffffff;
	border-width:1px 0 1px 0;
	border-color:#d5d5d5;
	border-style:solid;
}
.m-query .popular-list {
	font-size:16px;
}
.m-query .popular-list li {
	line-height:37px;
	border-bottom:1px solid #d5d5d5;
	background-color:#ffffff;
}
.m-query .popular-list li a {
	display:block;
	padding-left:19px;
	color:#777777;
	text-decoration:none;
}
