<extend name="Base/common"/>

<block name="title"><title>在线提款－{:S('WEB_NAME')}</title></block>
<block name="style">
<link rel="stylesheet" type="text/css" href="__CSS__/user.css">
</block>
<block name="script">
<script>
$(function(){
	$("a[data-pro='ok']").click(function(event){
		var url = $(this).attr('data-action');
		var childs = $('#pro-view-info').find('input');
		
		var i=0;
		var data=[];
		for(i=0;i<childs.length;i++)
		{
			data.push({name:childs[i].name,value:childs[i].value});
		}
		
		data.push({name:'id', value:$('#bankId').val()});
		
		$.post(url,data,function(re){
			var status = re.status;
			if(status==1)
			{
				showDialog(re.info);
				
				setTimeout(function(){
					if(re.url)
						window.location.href=re.url;
				},1500);			
			}
			else
			{
				showDialog(re.info);
			}
		},'json');
		return false;
	});
});
</script>
</block>
<block name="header"></block>
<block name="body">
<div id="pro-view-24" class="m-user">
	<div id="pro-view-36" class="m-simpleHeader" data-pro="dvHeader">
		<a href="javascript:history.back(-1);" data-pro="cancel" class="m-simpleHeader-back2">取消</a>
		<a href="javascript:void(0);" data-pro="ok" data-action="{:U('cash/cash')}" class="m-simpleHeader-ok2">提款</a>
		<h1>在线提款</h1>
	</div>
	<div class="m-user-addrAdd">
		<div class="m-user-bar" data-pro="entry" id="pro-view-info">
			<div id="pro-view-6" class="w-inputBar w-bar">
				<div class="w-bar-label">
					提款金额
				</div>
				<a style="display: none;" data-pro="clear" href="javascript:void(0);" class="w-bar-input-clear">×</a>
				<div class="w-bar-control">
					<input data-pro="input" class="w-bar-input" name="amount" value="" type="number">
				</div>
			</div>
			<div id="pro-view-7" class="w-inputBar w-bar">
				<div class="w-bar-label">
					提款银行
				</div>
				<a data-pro="clear" href="javascript:void(0);" class="w-bar-input-clear">×</a>
				<div class="w-bar-control">
					<select  class="w-bar-input" id="bankId" name="bankId" style="width: 300px; height: 42px;" autocomplete="off">
					<php>foreach($bank as $b) {</php>		
						<option value="{$b.id}">[{$b.name}][<?=mb_substr($b['username'],0,1,'utf-8').'**' ?>]卡尾号:<?=preg_replace('/^.*(\w{4})$/', '\1', $b['account'])?></option>
					<php>}</php>
					</select>
				</div>
			</div>
			<div id="pro-view-8" class="w-inputBar w-bar">
				<div class="w-bar-label">
					资金密码
				</div>
				<a data-pro="clear" href="javascript:void(0);" class="w-bar-input-clear">×</a>
				<div class="w-bar-control">
					<input data-pro="input" class="w-bar-input" name="coinpwd" value="" maxlength="40" type="password">
				</div>
			</div>
			<div id="pro-view-6" class="w-inputBar w-bar">
				<div>
					<label>提款时间：</label> 从 <strong>{$settings.cashFromTime}</strong> 至 <strong>{$settings.cashToTime}</strong>. 
					<br>每天限制提款 <strong>{$settings.cashTimes}</strong>次      
					<br>最小提款额：<strong>{$settings.cashMin}</strong> 元
					<br>最大提款额：<strong>{$settings.cashMax}</strong> 元        
					<br>系统消费比例限制为：<strong>{$settings.cashMinAmount}%</strong>
				</div>
			</div>
			
		</div>
	</div>
</div>
</block>		
<block name="footer"></block>