<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$content?'编辑':'新增'}系统公告</h2>
    </div>
    <form action="__SELF__" method="post" class="form-horizontal">
		
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$content.title}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">内容<span class="check-tips"></span></label>
            <div class="controls">
                <textarea class="input-large" name="content" style="width:550px;" rows="5">{$content.content}</textarea>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">是否显示<span class="check-tips"></span></label>
            <div class="controls">
				<label><input  autocomplete="off" name="enable" value="1" <php>if($content){if($content['enable']==1) echo 'checked';} else {echo 'checked';}</php> type="radio">显示</label>		
				<label><input autocomplete="off" name="enable" value="0" <php>if($content){if($content['enable']==0) echo 'checked';}</php> type="radio">隐藏</label>						
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$content.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        $('.side-sub-menu').find('a[href="{:U('notice/index')}"]').closest('li').addClass('current');
    </script>
</block>
