<ul class="nav navbar-top-links pull-right">
	<li id="dropdown-user" class="yue">
	<a href="{:U('user/info')}" target="pageframe" style="cursor:pointer;">
	<img alt="" src="__IMG__/frame/av7.png"><span id="user_nickname" style="color:#515151;">{$this->iff($user['nickname'],$user['nickname'],$user['username'])}</span>
	</a>
	</li>
	<li class="jifen"><img alt="" src="__IMG__/frame/10.png">余额：<span id="user_sscmoney" style="color:red;">{$user.coin}</span>元<span id="j-refresh" class="fa fa-refresh" action="{:U('index/userinfo')}" style="cursor:pointer;"></span></li>
	<li>
	<a id="j-sign-out" href="javascript:;" style="display:block;" action="{:U('user/logout')}"><i class="fa fa-power-off"></i>退出</a>
	</li>
</ul>