<block name="footer">
<div class="g-footer">
	<div class="g-wrap">
		
		<ul class="m-state f-clear">
			<li><i class="ico ico-state ico-state-1"></i>公平公正公开</li>
			<li><i class="ico ico-state ico-state-2"></i>正品保证</li>
			<li class="last"><i class="ico ico-state ico-state-3"></i>权益保障</li>
		</ul>
		
		<p class="m-copyright">
			ICP证浙B2-20140185 <span>{:S('WEB_NAME')} © 2014-2016</span>
		</p>
	</div>
</div>
<php>$count = count(session('cart'));</php>
<button id="pro-view-0" class="w-button w-button-round w-button-backToTop" style="display:none">返回顶部</button>
</block>